@charset "UTF-8";

/* ========== main visual ========== */
.mv__header {
  font-size: 4rem;
  line-height: 1;
}

.mv {
  width: 100%;
  margin-top: 20px;
}

.introduction {
  margin-top: 20px;
  color: var(--darkgray);
}

.mv__btnbox {
  margin-top: 50px;
}

.mv__btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #000;
  color: var(--lightgray);
  font-size: 2rem;
  transition: all 0.3s;
}

.mv__btn:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .section--mv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 2fr;
    align-items: center;
    column-gap: 60px;
    width: var(--contentWidth);
    margin: 50px auto;
    padding: 0;
  }

  .mv__header {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 4rem;
  }

  .mv {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-top: 0;
  }

  .introduction {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 0;
  }

  .mv__btnbox {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 0;
  }
}

/* ========== Skills ========== */
.section__body--skills {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skills__topic {
  display: flex;
  align-items: center;
  gap: 15px;
}

.skills__icon {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.skills__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;

}

.skills__topic h3 {
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  .section__body--skills {
    flex-direction: row;
    gap: 80px;
  }

  .skills__content {
    width: 50%;
  }

  .skills__topic h3 {
    font-size: 3.2rem;
  }

  .skills__icon {
    width: 40px;
    height: 40px;
  }

  .skills__icon img {
    width: 24px;
  }
}

/* ========== Works ========== */
.section__body--works {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.works__article {
  background-color: var(--darkgray);
  color: #fff;
  padding: 30px 15px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.works__link {
  display: block;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}

.works__link:hover{
  transform: scale(1.03);
}

.works__topic {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 700;
}

.works__article p {
  margin-top: 20px;
  font-weight: 300;
}

.works__tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 30px;
}

.works__tags li {
  padding: 5px 8px;
  border-radius: 3px;
  font-weight: 300;
  color: var(--darkgray);
  background-color: var(--lightgray);
}

@media screen and (min-width: 768px) {
  .section__body--works {
    flex-direction: row;
  }

  .works__article {
    width: 30%;
    padding: 25px;
    border-radius: 8px;
  }

  .works__topic {
    font-size: 2rem;
  }

  .works__article p {
    font-size: 1.6rem;
  }

  .works__tags li {
    font-size: 1.4rem;
  }
}

/* ========== Contact ========== */
.contact__txt p {
  margin-top: 15px;
}

.contact__github {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.contact__icon {
  width: 60px;
  height: 60px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .contact__github {
    margin-top: 50px;
  }
}