@charset "UTF-8";

/* ========== general ========== */
:root {
  --darkgray: #3c3c3c;
  --lightgray: #f5f5f5;
  --txtHeight: 1.3;
  --contentPadding: 5.0%;
  --contentWidth: 90%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  color: #111;

  line-height: var(--textHeight);
  background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.linkblue{
  color: blue;
}

/* 仮画像 */
.tmp {
  display: block;
  width: 100%;
  background-color: #dddddd;
}

/* ========== header ========== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 1px solid var(--darkgray);
}

.logo {
  width: 100px;
}

.header__btn {
  width: 24px;
  height: 24px;
}

/* ========== section 共通 ========== */
.section {
  padding: 40px var(--contentPadding) 50px;
}

.section--gray {
  background-color: var(--lightgray);
}

.section__header {
  padding-left: 10px;
  font-size: 3.2rem;
  font-weight: 500;
  border-left: 6px solid black;
}
.section__body{
  margin-top: 40px;
}

/* ========== main visual ========== */
.mv__header {
  font-size: 4rem;
  line-height: 1;
}

.mv {
  width: 100%;
  margin-top: 20px;
}

.introduction {
  margin-top: 20px;
  color: var(--darkgray);
}

.mv__btnbox{
  margin-top: 50px;
}

.mv__btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #000;
  color: var(--lightgray);
  font-size: 2rem;
}

/* ========== About ========== */
.section__body--about p {
  margin-bottom: 15px;
  color: var(--darkgray);
}

/* ========== Skills ========== */
.section__body--skills {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skills__topic {
  display: flex;
  align-items: center;
  gap: 15px;
}

.skills__icon{
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.skills__icon img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20px;

}

.skills__topic h3 {
  font-size: 2.4rem;
}

.skills__item {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: underline;
}

.skills__detail {
  margin-top: 10px;
  color: var(--darkgray);
}

/* ========== Works ========== */
.section__body--works {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.works__article {
  background-color: var(--darkgray);
  color: #fff;
  padding: 30px 15px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}

.works__link {
  display: block;
  box-shadow: 4px 8px 4px rgba(0,0,0,0.8);
}

.works__topic {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 700;
}

.works__article p {
  margin-top: 20px;
  font-weight: 300;
}

.works__tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 30px;
}

.works__tags li {
  padding: 5px 8px;
  border-radius: 3px;
  font-weight: 300;
  color: var(--darkgray);
  background-color: var(--lightgray);
}

/* ========== Contact ========== */
.contact__txt p{
  margin-top: 15px;
}

.contact__github {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.contact__icon {
  width: 60px;
  height: 60px;
  padding: 5px;
}

/* .contact__account {
  font-size: 0.85rem;
} */

/* ========== footer ========== */
footer {
  padding: 10px var(--contentPadding);
  border-top: 1px solid black;
  font-size: 1.2rem;
  text-align: right;
}

@media screen and (min-width: 768px) {

  /* ===== 共通 ===== */
  body{
    font-size: 2rem;
  }

  .section {
    padding: 70px 0;
  }
  
  .section__header {
    width: var(--contentWidth);
    margin: 0 auto;
    font-size: 4rem;
  }
  
  .section__body{
    width: var(--contentWidth);
    margin: 50px auto 0 ;
  }

  /* ===== header ===== */
  header {
    padding: 20px 50px;
  }

  /* PCではメニューボタン非表示 */
  .header__btn {
    display: none;
  }

  .nav__list{
    display: flex;
    gap: 50px;
  }

  .nav__item{
    font-weight: 500;
  }

  /* ===== main visual ===== */
  .section--mv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 2fr;
    align-items: center;
    column-gap: 60px;
    width: var(--contentWidth);
    margin: 50px auto;
    padding: 0;
  }

  .mv__header {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 4rem;
  }

  .mv {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-top: 0;
  }

  .introduction {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 0;
  }
  
  .mv__btnbox {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 0;
  }

  /* ===== Skills ===== */
  .section__body--skills {
    flex-direction: row;
    gap: 80px;
  }

  .skills__content {
    width: 50%;
  }

  .skills__topic h3 {
    font-size: 3.2rem;
  }

  .skills__icon{
    width: 40px;
    height: 40px;
  }

  .skills__icon img{
    width: 24px;
  }

  .skills__item{
    margin-top: 40px;
    font-size: 2.0rem;
  }

  /* ===== Works ===== */
  .section__body--works {
    flex-direction: row;
  }

  .works__article {
    width: 30%;
    padding: 25px;
    border-radius: 8px;
  }

  .works__topic {
    font-size: 2rem;
  }

  .works__article p {
    font-size: 1.6rem;
  }

  .works__tags li {
    font-size: 1.4rem;
  }

  /* ===== Contact ===== */

  .contact__github {
    margin-top: 50px;
  }

  /* ===== footer ===== */
  footer {
    padding: 20px 50px;
    font-size: 1.5rem;
  }
}