@charset "UTF-8";

/* ========== Intro ========== */
.section--intro {
    padding-top: 50px;
}

.intro__topic {
    font-size: 2.0rem;
    font-weight: 500;
    transform: translateX(-13px);
}

.intro__link {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666;
    word-break: break-all;
}

.intro__mv {
    display: block;
    margin-top: 25px;
    width: 100%;
}

.intro__comments {
    margin-top: 25px;
}

.intro__commenttopic {
    margin-top: 20px;
}

.intro__comment--list::before {
    content: "ãƒ»";
}

@media screen and (min-width: 768px) {
    .section--intro {
        padding-top: 40px;
        width: var(--contentWidth);
        margin: 0 auto;
    }


    .intro__topic {
        font-size: 3.2rem;
        transform: translateX(-20px);
    }

    .intro__link {
        font-size: 1.6rem;
    }

    .intro__detail {
        margin-top: 30px;
    }

    .intro__mv {
        max-width: 900px;
        margin: 40px auto 0;
    }

    .intro__comments {
        margin-top: 40px;
    }
}

/* ========== survey ========== */
.detail__topic--survey {
    margin-top: 30px;
}

.survey__graph {
    margin-top: 30px;
}

.survey__graph .tmp {
    height: 180px;
}

.survey__graphcaption {
    margin-top: 10px;
    font-size: 0.9rem;
}

.survey__graphref {
    margin-top: 10px;
    font-size: 0.9rem;
    color: var(--darkgray);
}

.survey__wordtype {
    margin-top: 20px;
    font-weight: 700;
}

.survey__worddetail {
    margin-top: 8px;
    color: #555;
}

.detail__body ul {
    margin-top: 15px;
    padding-left: 20px;
    list-style-type: disc;
}

.detail__body li {
    margin-top: 8px;
}

@media screen and (min-width: 768px) {
    .detail__topic--survey {
        margin-top: 50px;
    }

    .survey__graphs {
        display: flex;
        gap: 40px;
        margin-top: 40px;
    }

    .survey__graph {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: 0;
    }

    .survey__graphcaption,
    .survey__graphref {
        font-size: 1.2rem;
    }
}

/* ========== work ========== */
.detail__topic--work {
    margin-top: 30px;
}

.work__content {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.work__image {
    width: 50%;
}

.work__text {
    font-size: 1.2rem;
}

.work__remark {
    margin-top: 15px;
}

.work__content--ai {
    flex-direction: column-reverse;
    gap: 20px;
}

.work__image--ai {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.work__iceimg {
    display: inline-block;
    flex: 1;
    text-align: center;
}

.work__imgwidth80 {
    width: 80%;
}

.work__icecaption {
    font-size: 0.9rem;
}

.work__text--ai {
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {

    .work__content,
    .work__content--ai {
        flex-direction: row;
        gap: 60px;
        margin-top: 30px;
        align-items: center;
        justify-content: space-between;
    }

    .work__image {
        width: 400px;
    }

    .work__image--ai {
        flex-direction: column;
        gap: 20px;
    }

    .work__image--ai img {
        width: 100%;
        max-width: none;
    }

    .work__image--ai img.work__imgwidth80 {
        width: 80%;
    }

    .work__text {
        font-size: 1.8rem;
    }

    .work__iceimg {
        width: 400px;
    }

    .work__icecaption {
        font-size: 1.2rem;
    }

    .work__remark {
        margin-top: 300px;
    }

}

/* ========== thanks ========== */
.thanks__name {
    margin-top: 5px;
}